* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background-color: bisque;
    gap: 50px;
    align-items: center;
    margin: 100px auto;
    height: 100vh;
    font-family:"Press Start 2P", system-ui;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.header-one{
    font-size: 40px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 55px;
}

.game-click {
    text-align: center;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}

.buttons-container {
    display: flex;
    gap: 40px;
    justify-content: center;
}

.buttons-container button {
    font-size: 40px;
    background-color: whitesmoke;
    padding: 12px 12px;
    border-radius: 50px;
    border: 2px solid black;
}

.buttons-container button:active{
    background-color: rgb(190, 187, 187)
}

.result-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-bottom: 20px;
}

.result {
    margin: 20px;
    text-align: center;
    font-size:12px;
    line-height: 16px;
}

.score {
    display: flex;
    gap: 50px;
    align-self: center;
    flex-wrap: wrap;
    justify-content: center;
}
b{
    font-family: "Press Start 2P", system-ui;
    font-size: 14px;
    font-weight: lighter;
}

span{
    font-family: "Press Start 2P", system-ui;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.632);
}